<html>
    <head>
        <title>Death Slayers Rules</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    </head>

    <header>
        <h1>
            Death Slayers Rules
        </h1>
        <p>
            Here lies the rules of horror and victory.
        </p>
    </header>

    <body>
        <h2>
            Character Stats
        </h2>
        
        <ol>
            <li>Level = LVL</li>
            <li>Strength = STR</li>
            <li>Agility = AJL</li>
            <li>Blood = BLD</li>
            <li>Insight = IST</li>
            <li>Breath = BRH</li>
        </ol>

        <h2>
            Armor
        </h2>

        <ol>
            <li>
                <div>Heavy</div>
                <div>-10 move</div>
                <div>STR Armor HP</div>
            </li>

            <li>
                <div>Light</div>
                <div>-5 move </div>
                <div>+ ½ STR as Armor to HP </br> + ½ agility to defense</div>
            </li>

            <li>
                <div>None</div>
                <div></div>
                <div>+ agility to defense</div>
            </li>
        </ol>

        <h2>
            Weapon Classes
        </h2>

        <ol>
            <li>
                <div>Slayer</div>
                <div>D 12</div>
                <div>-D 6 in combined spaces</div>
                <div>10ft range</div>
            </li>

            <>
        </ol>
        

    </body>
</html>