<html>

    <head>
        <title>TTRPG Tools</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header>
        <h1>

        </h1>
    </header>

    <body>

        <div class="control">
            <a href="{{ url_for('bp_death_slayers.death_slayers_tools') }}">
            <button aria-label="Tools Link" class="tool_links_button">
                <span class="btn-image"></span>
                <span class="btn-text">Death Slayers</span>
            </button>
            </a>
        </div>  
        
        <div class="control">
            <a href="{{ url_for('bp_pathfinder2e.pathfinder2e_tools') }}">
            <button aria-label="Tools Link" class="tool_links_button">
                <span class="btn-image"></span>
                <span class="btn-text">Pathfinder 2e Tools</span>
            </button>
            </a>
        </div>  

    </body>



</html>